.logo_header img{
    width: 4.5rem;
}
.logo_header span{
    font-size: 2.5rem;
    
}
.menu ul{
    gap: 0.8rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.menu ul button{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    display: none;
}
#menu_categorias span{
    font-size: 1.5rem;
    margin-top: -35px;
}
.categorias{
    font-size: 1rem;
    width: 300px;
}
.primeiro{
    border-radius: 0.5rem 0.5rem 0 0 ;
}
.ultimo{
    border-radius: 0 0 0.5rem 0.5rem;
}
.cardapio_sabores span{
    font-size: 1.3rem;
}
#cardapios{
    gap: 10px;
}
.cardapio_produtos{
    
}
/*footer*/
#header_footer h1{
    font-size: 1rem;
}
.main_footer ul{
    gap: 0.5rem;
    flex-direction: column;
    
}
.main_footer ul li a{
    font-size: 1.5rem;
}